.profile {
  width: 160px;
  /* height: 200px; */
  padding: 10px;
  background-color: bisque;
}

.description p {
  text-align: center;
}

.avatar {
  width: 100%;
}

.stats {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats li {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.label {
  font-style: italic;
}

.tag {
  color: blue;
}

.tag:hover {
  cursor: pointer;
  text-decoration: underline cadetblue;
}

.statistics {
  padding: 0 20px;
  width: 300px;
  text-align: center;
}

.stat-list {
  display: flex;
  list-style: none;
  padding: 0;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  width: calc(300px/5);
}

/* .item:not(:last-child) {
  margin-right: 10px;
} */

.percentage {
  font-size: larger;
}
